:root {
    --primary-color :#019160;
    --white-color: #fff;
    --black-color: #000;
}

.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}