body
{
	margin: 0px;
	padding: 0px;
	width: 100%
}
.wrapper
{
	width: 100%;
	font-family:  Helvetica;
}
.banner 
{
	display: flex;
	background: #f6f6f6;

}
.banner .banner-timkiem ul
{
	display: flex;
}
.banner .banner-timkiem ul li
{
	list-style: none;
	padding-right: 15px;
}
.banner .banner-timkiem ul li a
{
	text-decoration: none;
	color: black;
	font-size: 15px;

}
.banner .banner-timkiem 
{
	margin-left: 529px;
	margin-top: 15px;
}
.banner .banner-logo
{
	margin-left: 79px;
}
.banner .banner-timkiem .banner-timkiemcon 
{
	margin-left: -40px;
}
#giohang
{
	margin-top: -4px;
}
#timkiem
{
	margin-left: -13px;
}
.banner .banner-timkiem > ul > li > a:hover
{
	text-decoration: underline;
}
#icon
{
	margin-left: -15px;
	margin-top: -8px;
}
.header .menu > ul
{
	display: flex;
	margin-top: 13px;
}
.header .menu > ul > li
{
	padding-right: 100px;
	list-style: none;

}
.header .menu ul li a
{
	text-decoration: none;
	color: black;
	font-size: 13px;
}
.header .menu ul li a:hover
{
	text-decoration: underline;
}
#so
{
	margin-top: -8px;
}
.submenu
{
	display: none;
	position: absolute;
}
.menu ul li:hover .submenu
{
	display: block;
	background: #fff;
	position: absolute;
	z-index: 2;
}
ul .submenu li
{
	list-style: none;
	margin-left: -19px;
	margin-right: 12px;
	padding-top: 16px;
}
.middle .box
{
	position: relative;
}
.middle .box img
{
	width: 100%;
}
.box {
	position: relative;
	width: 100%;
	left: 15%;
	margin-left: -200px;
}
.prev {
	width: 50px;
	cursor: pointer; 
	position: absolute;
	top: 250px; 
	display: none;
	font-size: 40px;
}
.next {
	width: 30px; 
	cursor: pointer; 
	position: absolute;
	top: 250px; 
	right: 0px; 
	display: none;
	font-size: 40px;
}
.box:hover .next{display: block;}
.box:hover .prev{display: block;}
.mau 
{
	display: flex;
	margin-left: 157px;
	margin-top: 24px;
}
.mau .mau-img
{
	margin-left: 10px;
}
.mau .mau-img .mau-top
{
	margin-top: -3px;
	margin-bottom: 5px;
}
.mau .mau-img .mau-top img 
{
	padding-right: 10px;
}
.mau .mau-img1 img:hover
{
	transform: scale(1.1);
}
.mau .mau-img1 img
{
	width: 519px;
}
.mau-img1 {
  position: relative;
}
 
.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .6s ease;
  backface-visibility: hidden;
}
 
.readmore {
	 transition: .6s ease;
	 opacity: 0;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%, -50%);
	 text-align: center;
}
 
.mau-img1:hover .image {
  	opacity: 0.5;
}
 
.mau-img1:hover .readmore {
  	opacity: 1;
}
 
.text-img1 {
	border:1px solid black;
  	padding: 16px 32px;
  	margin-top: 40px;
}
.text-img1 a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.text-img1:hover
{
	background: #CC9966;
}
.giayda
{
	font-size: 20px;
	color: black;
	font-weight: bold;
}
.mau-top
{
	display: flex;
}
.mau .mau-img2 img:hover
{
	transform: scale(1.1);
}
.mau .mau-img2 img
{
	width: 254px;
}
.mau-img2 {
  position: relative;
}
.mau-img2:hover .image {
  	opacity: 0.5;
}
 
.mau-img2:hover .readmore {
  	opacity: 1;
}
 
.text-img2 {
	border:1px solid black;
  	padding: 16px 32px;
  	margin-top: 40px;
}
.text-img2 a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 12px;
}
.text-img2:hover
{
	background: #CC9966;
}
.mau-bottom {
  position: relative;
}
 
.mau-bottom:hover .image {
  	opacity: 0.5;
}
 
.mau-bottom:hover .readmore {
  	opacity: 1;
}
.mau-bottom
{
	margin-top: 10px;
}
.video
{
	margin-top: 30px;
	margin-left: 182px;
}
.bosuutap .bst-list ul
{
	display: flex;
}
.bosuutap .bst-list ul li
{
	list-style: none;
	padding-right: 10px;
}
.bosuutap .bst-list ul li a
{
	text-decoration:none;
	color: black;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #CFCFCF;
}
.bosuutap
{
	margin-left: 340px;
}
.bosuutap h3
{
	margin-left: 279px;
	margin-top: 47px;
	padding-bottom: 36px;
}
.bosuutap .bst-list ul li a:hover
{
	border:1px solid black;
}
.list1
{
	width: 1000px;
	margin-left: 179px;
}
.item2
{
	margin-left: 65px;
	margin-top: 10px;
}
.item2 a
{
	text-decoration: none;
	color: black;
	font-size: 12px;
}
.item2 strong
{
	font-size: 13px;
	margin-top: 5px;
	margin-left: 10px;
}
.xemsp
{
	margin-left: 400px;
	margin-top: 33px;
	margin-right: 390px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid black;
	text-align: center;
}
.xemsp a
{
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 13px;
	display: block;
}
.xemsp:hover
{
	background: black;
}
.xemsp a:hover
{
	color: #fff;
}
.list2
{
	width: 1000px;
	margin-left: 179px;
}
.item3
{
	text-align: center;
	font-family:  Helvetica;
}
.item3 a
{
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	color: black;
}
.footer
{
/*	border-top: 2px groove #808080;*/
	margin-top: 20px;
	box-shadow: -5px -5px 10px #AAA;
}
.footer .footer-top
{
	display: flex;
}
.footer .footer-top .thongtin .sdt strong
{
	font-size: 10px;
}
.footer .footer-top .thongtin .sdt strong:hover
{
	border-bottom: 1px solid black;
}
.footer .footer-top .dvkh ul li
{
	list-style: none;
	padding-top: 8px;
}
.footer .footer-top .dvkh ul li a
{
	text-decoration: none;
	color: black;
	font-size: 9px;
}
.footer .footer-top .dvkh ul li a:hover
{
	border-bottom: 1px solid black;
}
.footer .footer-top .dvkh2 ul li
{
	list-style: none;
	padding-top: 1px;
}
.footer .footer-top .dvkh2 ul li a
{
	text-decoration: none;
	color: black;
	font-size: 9px;
}
.footer .footer-top .dvkh2 ul li a:hover
{
	border-bottom: 1px solid black;
}
.footer .footer-top .dvkh2
{
	margin-top: 27px
}
.footer .footer-top .dvkh
{
	margin-left: 91px;
	font-size: 11px;
}
.footer .footer-top .dvkh h4
{
	margin-left: 38px;
}
.footer-bottom
{
	color:  #fff;
	display: block;
	background: black;
	text-align: center;
	height: 15px;
	font-size: 12px;
}
.footer-bottom a
{
	color: #fff;
	font-size: 12px;
}